package views

templ Base(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>binp</title>
		</head>
		<body>
			<main>
				<div>Hello, { name }!</div>
			</main>
		</body>
	</html>
}
