package views

import "binp/storage"

templ Index() {
	@Base() {
		@Navbar(nil)
		<div class="w-full">
			@SnippetForm()
		</div>
	}
}

templ SnippetPage(snippet *storage.Snippet) {
	@Base() {
		@Navbar(snippet)
		<div class="w-full">
			<pre><code id="snippet">{ snippet.Text }</code></pre>
			<button
				class="rounded bg-blue-500 px-2"
				_="on click
					writeText(#snippet.innerText) into the navigator's clipboard
				"
			>
				Copy
			</button>
		</div>
	}
}
